{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Produk{% endblock title %}

{% block content %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">Edit Produk</div>
                <div class="card-body">
                    <form method="post" action="{% url 'create' %}">
                        <!-- {% csrf_token %} -->
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="kode_produk" class="form-label">Kode Produk</label>
                                <input type="text" id="kode_produk" name="kode_produk" class="form-control" placeholder="Kode Produk" required>
                            </div>
                            <div class="col-md-4">
                                <label for="nama_produk" class="form-label">Nama Produk</label>
                                <input type="text" id="nama_produk" name="nama_produk" class="form-control" placeholder="Nama Produk" required>
                            </div>
                            <div class="col-md-4">
                                <label for="stock" class="form-label">Stock</label>
                                <input type="number" id="stock" name="stock" class="form-control" placeholder="Jumlah Stock" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="harga_jual" class="form-label">Harga</label>
                                <input type="number" id="harga_jual" name="harga_jual" class="form-control" placeholder="Harga Jual" required>
                            </div>
                            <div class="col-md-4">
                                <label for="restock" class="form-label">Re-Stock</label>
                                <input type="number" id="restock" name="restock" class="form-control" placeholder="Re Stock" required>
                            </div>
                            <div class="col-md-4">
                                <label for="note" class="form-label">Note</label>
                                <input type="text" id="note" name="note" class="form-control" placeholder="Catatan">
                            </div>
                            <div class="col-md-12 text-end">
                                <button type="button" class="btn btn-danger" onclick="window.history.back();">Kembali</button>
                                
                                <!-- <button type="reset" class="btn btn-danger">Kembali</button> -->
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
