{% extends 'base.html' %}

{% load static %}

{% block title %}Transaksi{% endblock title %}

{% block content %}

    <!-- Main Content -->
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-md-12">
                <!-- Form Transaksi -->
                <div class="card mb-3">
                    <div class="card-header">Transaksi</div>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Kode Produk" readonly>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Nama Produk" readonly>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Harga" readonly>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Stock" readonly>
                            </div>
                            <div class="col-md-2">
                                <input type="number" class="form-control" placeholder="Jumlah">
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="Subtotal" readonly>
                            </div>
                            <div class="col-md-12 text-end">
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </form>

                        <!-- Table Transaksi -->
                        <table class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kode Produk</th>
                                    <th>Nama Produk</th>
                                    <th>Harga</th>
                                    <th>Jumlah</th>
                                    <th>Subtotal</th>
                                    <th>Opsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="7" class="text-center">No data available in table</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="text-end">Rp. 0</h4>
                    </div>
                </div>

                <!-- Form Pembayaran -->
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3">
                            <!-- <div class="col-md-12">
                                <textarea class="form-control" placeholder="Catatan Transaksi (Jika Ada)"></textarea>
                            </div> -->
                            <div class="col-md-4">
                                <label>Pembayaran:</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Kembalian:</label>
                                <input type="number" class="form-control" readonly>
                            </div>
                            <div class="col-md-4 text-end">
                                <!-- <button type="button" class="btn btn-secondary">Cetak</button> -->
                                <button type="reset" class="btn btn-danger">Reset</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
