{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}
{% block title %}Transaksi Detail{% endblock title %}

{% block content %}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <!-- Form Transaksi -->
            <div class="card mb-3">
                <!-- id transaksi nya -->
                <div class="card-header">
                    <span>ID Transaksi: {{ transaksi.id }}</span>
                    <span>Tanggal: {{ transaksi.tanggal|date:"d/m/Y, H:i:s" }}</span>
                </div>
                <div class="card-body">
                    <table class="table table-bordered mt-3" id="table-transaksi">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kode Produk</th>
                                <th>Nama Produk</th>
                                <th>Harga</th>
                                <th>Jumlah</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.produk.kode_produk }}</td>
                                <td>{{ item.produk.nama_produk }}</td>
                                <td>Rp. {{ item.produk.harga_jual|dot_separator }}</td>
                                <td>{{ item.jumlah }}</td>
                                <td>Rp. {{ item.subtotal|dot_separator }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Tidak ada data transaksi.</td>
                            </tr>
                            {% endfor %}
 -->
                        </tbody>
                    </table>
                    <h4 class="text-end mt-4" id="total-harga">Total: Rp. {{ transaksi.total_harga|dot_separator }}</h4>
              
                    <!-- <h4 class="text-end" id="total-harga">Rp. 160000</h4> -->
                </div>
            </div>

            <!-- Form Pembayaran -->
            <div class="card">
                <div class="card-header">Pembayaran</div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label class="form-label">Jumlah Pembayaran:</label>
                            <p class="form-control-static">Rp. {{ transaksi.pembayaran|dot_separator }}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Kembalian:</label>
                            <p class="form-control-static">Rp. {{ transaksi.kembalian|dot_separator }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}